<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.george.optica_technicianapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OpticaTechnicianApplication"
        tools:ignore="RtlEnabled"
        tools:targetApi="donut">
        <activity
            android:name=".UI.Activities.Authentication.SignUpActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity"
            tools:targetApi="cupcake" />

        <activity
            android:name=".UI.Activities.SplashScreen.StartActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".UI.Activities.Authentication.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".UI.Activities.SplashScreen.SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.Activities.StartOrderActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".UI.Activities.NotificationsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".UI.Activities.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>